
/*
Montserrat Font
font-family: 'Montserrat', sans-serif;
font-weight: 100,200,300,400,500,600,700,800,900;
*/

* {
    padding: 0px;
    margin: 0px;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-image: url("images/Background.png");

    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #00080A;
    height: 100vh;
    color: white;

}

p {
    padding: 0px;
    margin: 0px;
}

h1 {
    padding: 0px;
    margin: 0px;
}

h2 {
    padding: 0px;
    margin: 0px;
}

h3 {
    padding: 0px;
    margin: 0px;
}

h4 {
    padding: 0px;
    margin: 0px;
}

h5 {
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
}

.navbar {
    position: absolute;
    top: 0px;
    width: 100%;
    padding: 30px 0px;
}

.navbar-brand {
    padding: unset;
    margin: unset;
}

.navbar-brand img {
    width: 40%;
    max-height: 20px;
}

.nav-item {
    margin: 0rem 0rem 0rem 3rem;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
    color: white;
}
.nav-link {
    font-size: 1.1rem;
    font-weight: 500;
    color: white;
    letter-spacing: .2px;
}

.nav-item .active {
    font-weight: 600;
    position: relative;
    font-color: white;
}

.nav-item .active::after {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: -2px;
    content: '';
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 100px;
    margin: 0px auto;
    transition: all 0.5s;
}

/* Add backdrop-filter to create a frosted-glass effect */
.modal-content {
    backdrop-filter: blur(8px); /* Adjust the blur intensity as needed */
    background-color: rgba(255, 255, 255, 0.1); /* Adjust the background color and transparency as needed */
}

.modal-header {
    border-bottom: 0px;
    padding-bottom: 0px;
}

.main {
}

.main h1 {
    font-size: 5rem;
    font-weight: 800;
    letter-spacing: -4px;
}

.main a {
    margin: 0px 8px;
}

.main button {
    width: 100%;
    min-width: 100px;
    max-width: 200px;
    height: 55px;
    background-color: white;
    border-radius: 14px;
    border: none;
    transition: .3s;
}

.main button:hover {
    opacity: .8;
    transition: .3s;
}

.portfolio {
    margin: 8rem 0rem 0rem 0rem;
}

.portfolio h1 {
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: -.4px;
    text-align: center;
}

.portfolio .item {
    cursor: pointer;
    position: relative;
    padding: 1rem;
}

.portfolio .item img {
    width: 100%;
    margin: auto;
}

.portfolio .item p {
    font-size: .9rem;
    font-weight: 400;
    color: #FAF9F6;
    letter-spacing: .2px;
    padding: 8px 0px 8px 14px;
    margin: 0px auto;
    backdrop-filter: blur(8px); /* Adjust the blur intensity as needed */
    background-color: rgba(40, 169, 224, 0.1); /* Adjust the background color and transparency as needed */
}

/* Track fade in animation */
/* CSS for fade-in effect */
@keyframes slideInFromAbove {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* CSS for hidden slider */
.slideFromAbove {
  visibility: hidden;
  opacity: 0;
}

.slideFromAbove.show {
  visibility: visible;
  animation: slideInFromAbove 2s ease forwards;
}

.slick-slide .learn-more {
  float: right;
  margin-right: 10px;
  color: gray;
  cursor: pointer;
}

/* Animated blue line */
.slide .learn-more::after,
 .portfolio .item::after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #28A9E0;
    transform: translateX(-50%);
    transition: width 0.3s ease;
}

.slide:hover .learn-more::after,
.slide.slick-current:hover .learn-more::after,
.portfolio .item:hover::after {
  width: 100%;
}

.learn-more {
    float: right;
    margin-right: 10px;
    color: gray;
    cursor: pointer;
  }

/* CSS for fade-in effect */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.row.fade-in {
  opacity: 0;
  animation: fade-in 2s ease forwards;
}

.row {
    opacity: 0;
}

.slick-slide {
		opacity:0.2;
		transition:opacity 0.5s ease-out;
        cursor: pointer;
	}

.slick-slide {
  position: relative;
  overflow: hidden;
}

.slick-center {
    opacity: 1;
    scale: 1.1;
}

.slick-list,
.slick-track {
  transition-delay: 10ms;
}

.slick-arrow {
    color: #28A9E0;
}

.slick-active {
		opacity:1!important;
		transition:opacity 0.2s ease-in;
	}

.slick-cloned {
  opacity: 0.3;
}

.slick-dots li.slick-active button:before {
    color: #28A9E0;
}

.slick-dots li button::before {
    color: white;
}

@media (min-width: 250px) {
    .navbar {
        backdrop-filter: blur(6px);
        -webkit-backdrop-filter: blur(6px);
        padding: 20px 0px;
    }

    .navbar-collapse {
        margin: 1rem 0rem 0rem 0rem;
    }

    .navbar-toggler {
        border: none;
        padding: unset;
    }

    .navbar-toggler:focus {
        box-shadow: unset;

    }

    .navbar-brand img {
        max-height: 10px;
    }

    .nav-item {
        margin: unset;
    }

    .nav-link {
        font-size: .8rem;
        text-align: center;
    }

    .nav-item .active::after {
        bottom: 2px;
        width: 6px;
        height: 6px;
    }

    .mb-btn {
        display: block!important;
    }
    
    .main h1 {
        font-size: 3rem;
        letter-spacing: -2px;
    }

    .main a {
        margin: unset;
    }

    .main button {
        margin: 10px 0px 0px 0px;
    }

    .mb-spacing {
        margin-top: 1.5rem!important;
    }

    .portfolio h1 {
        font-size: 1.2rem;
    }

    .portfolio .item {
        padding: .4rem;
    }

    .portfolio .item p {
        font-size: .6rem;
        letter-spacing: .4px;
        padding: 4px 0px 4px 8px;
    }

    .divider {
        height: 2rem!important;
    }

    .mb-item {
        margin: 0px 0px 10px 0px;
    }

    .mb-mt-5 {
        margin-top: 0px!important;
    }
}

@media (min-width: 576px) {
    .navbar-brand img {
        max-height: 50px;
    }

    .main h1 {
        font-size: 4rem;
        letter-spacing: -4px;
        line-height: 4rem;
    }


}

@media (min-width: 768px) {
    .main h1 {
        font-size: 5rem;
        letter-spacing: -4px;
        line-height: 5rem;
    }

    .mt-5 {
        margin-top: 3rem !important;
    }

    .mb-btn {
        display: flex !important;
    }

    .main a {
        margin: 0px 8px;
    }

    .main button {
        margin: unset;
    }

    .portfolio h1 {
        font-size: 1.6rem;
    }
}

@media (min-width: 992px) {
    .nav-item {
        margin: 0rem 0rem 0rem 3rem;
    }

    .nav-link {
        font-size: 1.1rem;
        text-align: unset;
    }

    .nav-item .active::after {
        bottom: -2px;
        width: 8px;
        height: 8px;
    }

    .main h1 {
        line-height: normal;
    }

    .divider {
        height: 4rem!important;
    }

    .portfolio .item {
        padding: 1rem;
    }

    .portfolio .item p {
        font-size: .9rem;
        letter-spacing: .2px;
        padding: 8px 0px 8px 14px;
    }

    .mb-item {
        margin: 0px 0px 20px 0px;
    }
}
