
/*
Montserrat Font
font-family: 'Montserrat', sans-serif;
font-weight: 100,200,300,400,500,600,700,800,900;
*/

* {
    padding: 0px;
    margin: 0px;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-image: url("images/Background.png");

    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #00080A;
    height: 100vh;
    color: white;

}

p {
    padding: 0px;
    margin: 0px;
}

h1 {
    padding: 0px;
    margin: 0px;
}

h2 {
    padding: 0px;
    margin: 0px;
}

h3 {
    padding: 0px;
    margin: 0px;
}

h4 {
    padding: 0px;
    margin: 0px;
}

h5 {
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
}

.navbar {
    position: fixed;
    z-index: 999;
    top: 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

.navbar.opaque {
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
  background-color: rgba(0, 0, 0, 0.3);
}

.navbar-brand {
    padding: unset;
    margin: unset;
}

.navbar-brand img {
    width: 40%;
    max-height: 20px;
}

.nav-item {
    margin: 0rem 0rem 0rem 3rem;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
    color: white;
}
.nav-link {
    font-size: 1.1rem;
    font-weight: 500;
    color: white;
    letter-spacing: .2px;
}

nav .navbar-nav li a{
  color: white !important;
  }

.nav-item .active {
    font-weight: 600;
    position: relative;
    font-color: white;
}

.nav-item .active::after{
      content: '';
      position: absolute;
      left: 50%;
      width: 50%;
      bottom: -2px;
      height: 2px;
      background-color: #28A9E0;
      transform: translateX(-50%);
      transition: width 0.3s ease;
}


/* Add backdrop-filter to create a frosted-glass effect */
.modal-content {
    backdrop-filter: blur(8px); /* Adjust the blur intensity as needed */
    background-color: rgba(255, 255, 255, 0.1); /* Adjust the background color and transparency as needed */
}

.modal-header {
    border-bottom: 0px;
    padding-bottom: 0px;
}

.flex-container {
    display: flex;
    align-items: center;
}

#introText {
    margin-right: 0.3em;
}

#roleCarousel {
    color: #50BDD6;
    overflow: hidden;
}

.vertical.carousel .carousel-item-next:not(.carousel-item-start),
.vertical.carousel .active.carousel-item-end {
    transform: translateY(100%);
}

.vertical.carousel .carousel-item-prev:not(.carousel-item-end),
.vertical.carousel .active.carousel-item-start {
    transform: translateY(-100%);
}

.main {
}

.main h1 {
    font-size: 5rem;
    font-weight: 800;
    letter-spacing: -4px;
}

.main a {
    margin: 0px 8px;
}

.main button {
    width: 100%;
    min-width: 100px;
    max-width: 200px;
    height: 55px;
    background-color: white;
    border-radius: 14px;
    border: none;
    transition: .3s;
}

.main button:hover {
    opacity: .8;
    transition: .3s;
}

.portfolio {
    margin: 8rem 0rem 0rem 0rem;
}

.portfolio h1 {
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: -.4px;
    text-align: center;
}

.introduction {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.portfolio .item {
    cursor: pointer;
    position: relative;
    padding: 1rem;
}

.portfolio .item img {
    width: 100%;
    margin: auto;
}

.portfolio .item p {
    font-size: .9rem;
    font-weight: 400;
    color: #FAF9F6;
    letter-spacing: .2px;
    padding: 8px 0px 8px 14px;
    margin: 0px auto;
    backdrop-filter: blur(8px); /* Adjust the blur intensity as needed */
    background-color: rgba(40, 169, 224, 0.1); /* Adjust the background color and transparency as needed */
}

/* Track fade in animation */
/* CSS for fade-in effect */
@keyframes slideInFromAbove {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* CSS for hidden slider */
.slideFromAbove {
  visibility: hidden;
  opacity: 0;
}

.slideFromAbove.show {
  visibility: visible;
  animation: slideInFromAbove 2s ease forwards;
}

.slick-slide .learn-more {
  float: right;
  margin-right: 10px;
  color: gray;
  cursor: pointer;
}

/* Animated blue line */
.slide .learn-more::after,
 .portfolio .item::after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #28A9E0;
    transform: translateX(-50%);
    transition: width 0.3s ease;
}

.slide:hover .learn-more::after,
.slide.slick-current:hover .learn-more::after,
.portfolio .item:hover::after {
    width: 100%;
}

.learn-more {
    float: right;
    margin-right: 10px;
    color: gray;
    cursor: pointer;
  }

/* CSS for fade-in effect */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    transform: translateY(30px);
  }
}

.fade-row.fade-in {
  opacity: 0;
  animation: fade-in 2s ease forwards;
}

.fade-row.fade-out {
  opacity: 1;
  animation: fade-out 2s ease forwards;
}

.fade-row {
    opacity: 0;
}

.col-lg-3 {
    padding-top: 1rem!important;
}



#home, #portfolio {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.7s ease;
}

.move-out-left {
  transform: translateX(100%);
}

.move-out {
  transform: translateX(-100%);
}

.move-in {
  transform: translateX(0);
}

.hidden {
  transform: translateX(-100%);
  visibility: hidden;
}

.scroll-prompt {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.scroll-prompt.hidden {
  opacity: 0;
  visibility: hidden;
}

.slick-slide {
		opacity:0.2;
		transition:opacity 0.5s ease-out;
        cursor: pointer;
	}

.slick-slide {
  position: relative;
  overflow: hidden;
}

.slick-center {
    opacity: 1;
    scale: 1.1;
}

.slick-list,
.slick-track {
  transition-delay: 10ms;
}

.slick-arrow {
    color: #28A9E0;
}

.slick-active {
		opacity:1!important;
		transition:opacity 0.2s ease-in;
	}

.slick-cloned {
  opacity: 0.3;
}

.slick-dots li.slick-active button:before {
    color: #28A9E0;
}

.slick-dots li button::before {
    color: white;
}

@media (min-width: 250px) {
    .navbar {
        backdrop-filter: blur(6px);
        -webkit-backdrop-filter: blur(6px);
    }

    .navbar-collapse {
        margin: 0rem 0rem 0rem 0rem;
    }

    .navbar-toggler {
        border: none;
        padding: unset;
    }

    .navbar-toggler:focus {
        box-shadow: unset;

    }

    .navbar-brand img {
        max-height: 10px;
    }

    .nav-item {
        margin: unset;
    }

    .nav-link {
        font-size: .8rem;
        text-align: center;
    }

    .mb-btn {
        display: block!important;
    }
    
    .main h1 {
        font-size: 3rem;
        letter-spacing: -2px;
    }

    .main a {
        margin: unset;
    }

    .main button {
        margin: 10px 0px 0px 0px;
    }

    .mb-spacing {
        margin-top: 1.5rem!important;
    }

    .portfolio h1 {
        font-size: 1.2rem;
    }

    .portfolio h2 {
        font-size: 1.2rem;
    }

    .portfolio .item {
        padding: .4rem;
    }

    .portfolio .item p {
        font-size: .6rem;
        letter-spacing: .4px;
        padding: 4px 0px 4px 8px;
    }

    .divider {
        height: 2rem!important;
    }

    .mb-item {
        margin: 0px 0px 10px 0px;
    }

    .mb-mt-5 {
        margin-top: 0px!important;
    }
}

@media (min-width: 576px) {
    .navbar-brand img {
        max-height: 50px;
    }

    .main h1 {
        font-size: 4rem;
        letter-spacing: -4px;
        line-height: 4rem;
    }


}

@media (min-width: 768px) {
    .main h1 {
        font-size: 5rem;
        letter-spacing: -4px;
        line-height: 5rem;
    }

    .mt-5 {
        margin-top: 3rem !important;
    }

    .mb-btn {
        display: flex !important;
    }

    .main a {
        margin: 0px 8px;
    }

    .main button {
        margin: unset;
    }

    .portfolio h1 {
        font-size: 1.6rem;
    }
}

@media (min-width: 992px) {
    .nav-item {
        margin: 0rem 0rem 0rem 3rem;
    }

    .nav-link {
        font-size: 1.1rem;
        text-align: unset;
    }

    .main h1 {
        line-height: normal;
    }

    .divider {
        height: 4rem!important;
    }

    .portfolio .item {
        padding: 1rem;
    }

    .portfolio .item p {
        font-size: .9rem;
        letter-spacing: .2px;
        padding: 8px 0px 8px 14px;
    }

    .mb-item {
        margin: 0px 0px 20px 0px;
    }
}

#cards {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-width: 916px;
  width: calc(100% - 20px);
}

#cards:hover > .card::after {
  opacity: 1;
}

.card {
    backdrop-filter: blur(8px); /* Adjust the blur intensity as needed */
    background-color: rgba(40, 169, 224, 0.1); /* Adjust the background color and transparency as needed */
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    position: relative;
    color: white;
    width: 2.5w;
    transition: width 0.3s ease;
    border: 1px solid rgba(40, 169, 224, 0.1)
}
.cardText {
    display: flex;
    align-items: center; /* Vertically center align items */
    margin: 1.0em 1.7em 1.0em;
    transition: padding-right 0.3s ease;
}

.card:hover .cardText {
    padding-right: 0.5em;
}

.cardText i {
    margin-right: 10px; /* Add spacing between the icon and text */
}

.w-10.card .arrow {
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translate(100%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    color: #28A9E0;
}

.w-10.card:hover .arrow {
    opacity: 1;
    transform: translate(0, -50%);
}

.card:hover::before {
  opacity: 1;
}

.card::before,
.card::after {
  border-radius: 10px;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
}

.card::before {
  background: radial-gradient(
    400px circle at var(--mouse-x) var(--mouse-y),
    rgba(40, 169, 224, 0.06),
    transparent 40%
  );
  z-index: 3;
}

.card::after {
  background: radial-gradient(
    400px circle at var(--mouse-x) var(--mouse-y),
    rgba(40, 169, 224, 0.2),
    transparent 40%
  );
  z-index: 1;
}

.card > .card-content {
  background-color: var(--card-color);
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  inset: 1px;
  padding: 10px;
  position: absolute;
  z-index: 2;
}
